main {
  width: 800px;
  height: 100%;
  margin: 20px auto;
}

.avatar-lead {
  display: flex;
  align-items: flex-start;
}

.lead {
  margin-left: 20px;
  margin-top: 0;
}

.lead > p:first-child {
  margin-top: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li::before {
  content: "– "
}